@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@200&display=swap');
*{
    font-family: 'Hahmlet', serif;
}
html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
    background-color: ghostwhite;
}
#wrap{
    overflow: hidden;
    min-width: 1190px;
    font-size: 18px;
}
/* skip메뉴 */
#skip_btn{
    position: relative;
    z-index: 10000;
}
    #skip_btn a{
        position: absolute;
        top: -30px;
        left: 0;
        width: 100px;
        border: 1px solid lightblue;
        background: dimgray;
        color: ghostwhite;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
    #skip_btn a:active,
    #skip_btn a:focus{
        top:0;
    }
/* header */
header{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    padding: 30px 30px 10px 30px;
    margin: 0 auto;
    background-color: gainsboro;
    border-bottom: 1px solid darkslateblue;
}
    header a{
        text-decoration: none;
        color: black;
}
    header a:hover{
        color: darkslateblue;
    }
#title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    width: 400px;
    height: 100%;
    font-weight: 600;
}
    #title img{
        display: inline-block;
    }
/* menu */
.menu{
    width: 730px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 15px;
}
.menu li{
    width: 185px;
}
    .menu_title{
        font-size: 18px;
        font-weight: 600;
    }
nav ul{
    margin:0;
    padding:0;
    list-style: none;
}
    .sub_menu{
        font-size: 16px;
        height: 0px;
        width: 185px;
        padding-top: 5px;
    }
        .sub_menu li{
            display: none;
        }


/* main */
main{
    position: relative;
    width: 1130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
}
    main section{
        width: 1130px;
        display: flex;
        align-items: center;
        overflow: hidden;
    }
        .text{
            padding: 9px;
            width: 610px;
            height: 480px;
            border: 1px solid darkslateblue;
        }
            .text p{
                padding: 0 50px;
                height: 100px;
            }
.section_img{
    display: inline-block;
    width: 500px;
    height: 500px;
    border: 1px solid darkslateblue;
    transition: 1s;
}
.cat_img{
    background: url(content/cat_main.jpg) center;
    background-size: 100%;
}
    .cat_img:active, .cat_img:focus, .cat_img:hover{
        background-size: 105%;
        filter: saturate(500%);
    }


.dog_img{
    background: url(content/dog_main.jpg) center;
    background-size: 100%;
}
    .dog_img:active, .dog_img:focus, .dog_img:hover{
        background-size: 110%;
        animation: color 10s infinite;
    }
    @keyframes color{
        100%{
            filter: hue-rotate(360deg);
        }
    }
.rabbit_img{
    background: url(content/rabbit_main.jpg) center;
    background-size: 160%;
    filter: grayscale(10%);
}
    .rabbit_img:active, .rabbit_img:focus, .rabbit_img:hover{
        filter: brightness(130%);
        background-size: 170%;
    }
.deer_img{
    background: url(content/deer_main.jpg);
    background-position: 90%;
    background-size: 180%;
    position: relative;
    opacity: 0.9;
}
    .deer_img:active, .deer_img:focus, .deer_img:hover{
        opacity: 1;
        background-size: 190%;
        filter: saturate(200%);
    }



/* last_animation */
.last_animation{
    margin: 100px auto 0 auto;
    overflow: hidden;
    position: relative;
    height: 155px;
}
#witch{
    transform: rotate(-22deg);
    position: absolute;
    right: -5%;
    animation-name: witch, move;
    animation-iteration-count: infinite, infinite;
    animation-duration: 3s, 15s;
}
@keyframes witch{
    50%{
        transform: translateY(1px);
    }
}
@keyframes move{
    50%{
        right: 50%;
    }
    100%{right: 105%;}
}

/* footer */
footer{
    background-color: gainsboro;
    border-top: 1px solid darkslateblue;
}
    .footer_inner{
        width: 1130px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .inner_div{
        display: flex;
        align-items: flex-start;
    }
        .logo img{
            margin: 15px;
            display: block;
        }
    .about{
        margin: 20px;
        line-height: 28px;
    }

/* sub page */
.sub_text{
    width: 700px;
    padding: 20px;
}
    .sub_text p{
        padding: 0 20px;
    }
.sub_content{
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
    .sub_content p{
        margin-block-start: 0;
        padding-right: 50px;
        line-height: 32px;
    }
    
/* gallery */
#gallery{
    height: 960px;
    width: 1130px;
    text-align: center;
    margin: 30px auto;
    border-top: 1px solid darkslateblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
}
    #gallery_main{
        max-height: 500px;
        filter: saturate(150%);
    }
.gallery_section{
    height: 300px;
    width: 100%;
    justify-content: space-between;
    border: 1px solid darkslateblue;
    border-radius: 10px;
    background-color: rgb(36, 36, 36);
    filter: saturate(80%);
}
    .gallery_section ul{
        display: flex;
        align-items: center;
        overflow: hidden;
        height: 250px;
        width: fit-content;
        margin-block: 0;
        padding-inline: 0;
    }
    .gallery_section li{
        transform: translateX(0px);
        list-style-type: none;
        transition: 0.5s;
        border: 1px solid rgba(24, 24, 24, 0.8);
    }
        .gallery_section li:hover{
            border: 1px solid gainsboro;
            filter: brightness(140%);
        }
    .gallery_section ul img{
        max-height: 250px;
    }
    .gallery_section button{
        width: 50px;
        margin: auto 20px;
        background: transparent;
        border: none;
        font-size: 50px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.5s;
        color: rgb(105, 105, 105)
    }
        .gallery_section button:hover{
            color: ghostwhite;
        }

/* cat */
.cat_eyes{
    position: relative;
    width: 400px;
    height: 400px;
    background: url(./content/cat_eyes.jpg) center;
    background-size: 150%;
    border-radius: 50%;
}
    .cat_eyes span{
        position: absolute;
        right: 65%;
        top: 48%;
        width: 1px;
        height: 1px;
        background-color: black;
        border-radius: 50%;
        box-shadow: 0px 0px 10px 30px black;
        opacity: 0;
        animation: blink 3s infinite;
    }
    #right{
        right: 39%;
        top: 45%;
    }
    @keyframes blink{
        10%{
            opacity:1;
        }
        30%{
            opacity:0;
        }
    }


/* dog */
.dog_light{
    position: relative;
    width: 400px;
    height: 400px;
    background: url(./content/dog8.jpg) no-repeat;
    background-position: 50% 0%;
    background-size: 180%;
    border-radius: 50%;
    filter: saturate(120%)
}
    .dog_light span{
        position: absolute;
        width: 400px;
        height: 400px;
        right: -1%;
        top: 0%;
        background: url(./content/dog7.jpg) no-repeat;
        background-position: 30% 10%;
        background-size: 210%;
        border-radius: 50%;
        opacity: 1;
        filter: brightness(110%);
        animation: flower 10s infinite;
    }
    @keyframes flower{
        50%{
            opacity: 0;
        }
    }

/* rabbit */
.rabbit_clover{
    position: relative;
    width: 400px;
    height: 400px;
    background: url(./content/rabbit_8.jpg) center no-repeat;
    background-size: 160%;
    border-radius: 50%;
    filter: saturate(150%);
    animation: 10s clover infinite;
}
@keyframes clover{
    50%{
        background-size: 350%;
    }
}

/* deer */
.deer_night{
    position: relative;
    width: 400px;
    height: 400px;
    background: url(./content/deer4.jpg) center no-repeat;
    background-size: 180%;
    border-radius: 50%;
    filter: saturate(120%);
    overflow: hidden;
}
.deer_night span{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 28%;
    right: -100%;
    background: url(./content/deer_ils5.png) no-repeat;
    background-size: contain;
    animation-name: walk, walking;
    animation-duration: 20s, 1.5s;
    animation-iteration-count: infinite, infinite;

}
@keyframes walk{
    100%{
        right: 70%;
    }
}
@keyframes walking{
    50%{
        transform: translateY(10px);
    }
}